{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">{{ title }}</div>
          <div class="card-body">
            <p>
              {% blocktrans %}Your password has been successfully changed. You can now <a href="{{ login_url }}">log in</a> using your new password.{% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
